
a.View-in-your-browser {
  color: #ec5447;
}

h3.Summer-Newsletter {
  font-family: TiemposText;
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: -0.4px;
  color: #0a273c;
}

p.z {
  font-family: AlrightSansLT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #85939e;
}

p.content-traction {
  font-family: AlrightSansLT;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #60cbe2;
  margin-top: 4em;
}

h3.Traction-Conference {
  font-family: TiemposHeadline;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a273c;
}

.Traction-Conference span {
  display: inline-block;
  position: relative;  
}

.Traction-Conference span:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #85939e;
  top: 10px;
  left: -120px;
  width: 64px;
  height: 1px;
  opacity: 0.47;
}

.Traction-Conference span:before {
  right: 100%;
  margin-right: 15px;
}

p.Hi-There-Were-stil {
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: -0.1px;
  color: #0a273c;
}

p.Hi-There-Were-stil .text-style-1 {
  color: #ec5447;
}

h3.Tips-for-Action {
  font-family: TiemposText;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a273c;
}

p.All-the-things-you-n {
  font-family: AlrightSansLT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a273c;
}
.rectangle-action {
  height: 100px;
}

.article-img {
  height: auto;
  float: left;
  width: 25%;
}

.article-content {
  height: auto;
  float: left;
  width: 75%;
  padding: 1em;
  text-align: left;
}

.growth-icon {
  width: 57px;
  height: 57px;
  object-fit: contain;
  margin: 2em 1em;
}

h2.Investing-for-brand {
  font-family: AlrightSansLT;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #0a273c;
}

p.Zapier-is-an-incredi {
  font-family: AlrightSansLT;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #85939e;
}

a.read-more {
  font-family: AlrightSansLT;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #60cbe2;
  text-transform: uppercase;
}

.Rectangle-blog {
  width: 70%;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
}

h3.Your-favourite-blog {
  font-family: TiemposText;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a273c;
}

p.Our-readers-have-fou {
  font-family: AlrightSansLT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a273c;
}

.blog-traction {
  font-family: AlrightSansLT;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #60cbe2;
}

h2.Takeaway-from-Tracti {
  font-family: TiemposHeadline;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #0a273c;
}

p.We-learned-so-much-f {
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0a273c;
}


.We-now-do-CRO-let-u {
  color: #fff;
  padding: 1em 0;
}

a.Made-in-Canada {
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #85939e;
}

a.Made-in-Canada .text-style-1 {
  font-weight: bold;
}

p.Unsubscribe {
  font-family: AlrightSansLT;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.text-style-2 {
  letter-spacing: 2em;
}

.Unsubscribe a {
    color: #0a273c;
}

.copyright {
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #85939e;
}